RewriteEngine On
RewriteCond %{HTTP_HOST} !^www.chillibits.com$ [NC]
RewriteRule ^(.*)$ https://www.chillibits.com/$1 [L,R=301]

# Redirects for Color Converter
RedirectMatch ^/color-converter$ /colorconverter/
RedirectMatch ^/colourconverter$ /colorconverter/
RedirectMatch ^/colour-converter$ /colorconverter/

# Redirects for PMApp
RedirectMatch ^/pm-app$ /pmapp/
RedirectMatch ^/particulate-matter-app$ /pmapp/

<IfModule mod_deflate.c>
AddOutputFilterByType DEFLATE text/plain
AddOutputFilterByType DEFLATE text/html
AddOutputFilterByType DEFLATE text/xml
AddOutputFilterByType DEFLATE text/shtml
AddOutputFilterByType DEFLATE text/css
AddOutputFilterByType DEFLATE application/xml
AddOutputFilterByType DEFLATE application/xhtml+xml
AddOutputFilterByType DEFLATE application/rss+xml
AddOutputFilterByType DEFLATE application/javascript
AddOutputFilterByType DEFLATE application/x-javascript
</IfModule>

# START - Disable server signature #
ServerSignature Off
# END - Disable server signature #

AddCharset UTF-8 .html